.main_chat
  .groupinfo
    .guroupinfo__infobox
      .groupinfo__infobox__group
        = @group.name
      .groupinfo__infobox__menber
        Member:
        - @group.users.each do|users|
          %li= users.name 
    .groupinfo__edit_btn
      = link_to edit_group_path(@group) do
        Edit
  .messagelist
    = render @messages
  .messageform
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'messageform__new__message', placeholder: 'type a message'
      = f.label :image, class: 'messageform__new_message__picture_btn' do
        = icon('fas', 'image', class: 'icon')
        = f.file_field :image, class: 'none'
      = f.submit 'Send', class: 'messageform__send_btn'