.side_bar  
  .username
    .username__namebox
      .username__namebox__name
        = current_user.name
      .username__namebox__icons
        .username__namebox__icons__icon_1
        = link_to new_group_path do
          = icon('fas', 'edit', class: "icon_1")
        .username__namebox__icons__icon_2
        = link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: "icon_2")

  .grouplist
    - current_user.groups.each do |group|
      .grouplist__groupbox
        = link_to '#' do
          .grouplist__groupbox__groupname
            = group.name
          .grouplist__groupbox__firstmessage
            メッセージはまだありません。
     